<<<<<<< HEAD
/* Seletor universal */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-size: cover;
    color: #ffffff;
    font-size: x-large;
}

header,
footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

.box,
.inline,
.block,
.inline-block {
    margin: 30px 40px;
    padding: 10px 20px;
}

.box {
    background-color: #169436;
    border: solid 2px #1c1a1d;
    border-radius: 40px;
    height: 64px;
    width: 320px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Seletores de classe */
.laranja {
    color: #f5a623;
}

.verde {
    color: #27ae60;
}

/* Seletores de ID e filhos */
#secao-principal {
    padding: 20px;
    text-align: center;
}

#secao-principal>* {
    margin-top: 10px;
}

/* Estilização de navegação */
nav a {
    color: #27ae60;
}

nav>a {
    display: block;
    color: #f5a623;
    padding: 10px;
}

/* Estilização de input */
input {
    display: block;
    padding: 5px;
    margin: 5px;
}

input[name="email"] {
    background-color: #f5a623;
}

input[type="password"] {
    background-color: #27ae60;
}

/* Estilização de texto */
.bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.italic {
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
}

.align {
    text-align: center;
}

/* Estilização de tamanho */
.tam {
    height: 3rem;
}

/* Seletores de herança */
.parent {
    font-size: 1.25rem;
    color: #f64348;
}

.child {
    font-size: 2rem;
    color: #00ff9f;
}

/* Seletores avançados */
li:nth-child(2n) {
    color: #00f;
}

li:hover {
    background-color: #999;
}

li::before {
    content: "(antes) ";
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 0, 179);
}

/* Variáveis globais */
:root {
    --cor-principal: #3c59e7;
    --cor-claro: #cfc9c9;
    --cor-escuro: #232323;
    --preenchimento-pq: .25rem 1rem;
    --preenchimento-md: 2rem;
    --preenchimento-gd: 4rem;
}

/* Utilização de variáveis */
header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-pq);
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-md);
}

/* Variáveis locais */
.red-box {
    --cor-principal: #f64348;
    background-color: var(--cor-principal);
}
=======
/* Seletor universal */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-size: cover;
    color: #ffffff;
    font-size: x-large;
}

header,
footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

.box,
.inline,
.block,
.inline-block {
    margin: 30px 40px;
    padding: 10px 20px;
}

.box {
    background-color: #169436;
    border: solid 2px #1c1a1d;
    border-radius: 40px;
    height: 64px;
    width: 320px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Seletores de classe */
.laranja {
    color: #f5a623;
}

.verde {
    color: #27ae60;
}

/* Seletores de ID e filhos */
#secao-principal {
    padding: 20px;
    text-align: center;
}

#secao-principal>* {
    margin-top: 10px;
}

/* Estilização de navegação */
nav a {
    color: #27ae60;
}

nav>a {
    display: block;
    color: #f5a623;
    padding: 10px;
}

/* Estilização de input */
input {
    display: block;
    padding: 5px;
    margin: 5px;
}

input[name="email"] {
    background-color: #f5a623;
}

input[type="password"] {
    background-color: #27ae60;
}

/* Estilização de texto */
.bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.italic {
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
}

.align {
    text-align: center;
}

/* Estilização de tamanho */
.tam {
    height: 3rem;
}

/* Seletores de herança */
.parent {
    font-size: 1.25rem;
    color: #f64348;
}

.child {
    font-size: 2rem;
    color: #00ff9f;
}

/* Seletores avançados */
li:nth-child(2n) {
    color: #00f;
}

li:hover {
    background-color: #999;
}

li::before {
    content: "(antes) ";
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 0, 179);
}

/* Variáveis globais */
:root {
    --cor-principal: #3c59e7;
    --cor-claro: #cfc9c9;
    --cor-escuro: #232323;
    --preenchimento-pq: .25rem 1rem;
    --preenchimento-md: 2rem;
    --preenchimento-gd: 4rem;
}

/* Utilização de variáveis */
header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-pq);
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-md);
}

/* Variáveis locais */
.red-box {
    --cor-principal: #f64348;
    background-color: var(--cor-principal);
}
>>>>>>> f16aa90 (first commit)
