header {
    text-align: center;
    text-decoration: overline; /* Adiciona uma linha acima do texto */
    text-transform: uppercase;  /* Deixa tudo em letra maaiscula */
  }
  
  h1 {
    font-family: cursive; /* Fonte cursiva */
    font-weight: 100; /* Espessura da fonte */
  }
  
  h2 {
    font-size: 16px; /* Tamanho da fonte */
    letter-spacing: 10px; /* Espaçamento entre as letras */
    text-transform: uppercase; 
  }
  
  p {
      font-family: sans-serif; /* Fonte sem serifa */
  }
  
  .bold {
    font-weight: 700; /* Espessura da fonte para Negrito */
  }
  
  .italic {
    font-style: italic; /* Fonte em itálico */
  }