<<<<<<< HEAD
li:nth-child(2) {
    /* Seleciona o segundo elemento */
    color: #f00;
}

li:nth-child(2n) {
    /* Seleciona os elementos pares */
    color: #00f;
}

li:hover {
    /* Muda a cor ao passar o mouse */
    background-color: #999;
}

li::before {
    /* Adiciona conteúdo antes do elemento */
    content: "(antes) ";
}

li::after {
    /* Adiciona conteúdo depois do elemento */
    content: " (depois)";
    /* Adiciona " (depois)" */
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 0, 179);
=======
li:nth-child(2) {
    /* Seleciona o segundo elemento */
    color: #f00;
}

li:nth-child(2n) {
    /* Seleciona os elementos pares */
    color: #00f;
}

li:hover {
    /* Muda a cor ao passar o mouse */
    background-color: #999;
}

li::before {
    /* Adiciona conteúdo antes do elemento */
    content: "(antes) ";
}

li::after {
    /* Adiciona conteúdo depois do elemento */
    content: " (depois)";
    /* Adiciona " (depois)" */
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 0, 179);
>>>>>>> f16aa90 (first commit)
}